.button {
  text-transform: uppercase;
  font-size: $default-font-size;
  padding: 2rem 3rem;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  transition: all 0.5s;
  animation: movesInBotton 0.7s ease-out;
  &:hover {
    transform: translateY(-2rem);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
